@CHARSET "ISO-8859-1";
body
{
	background-image:url("background.png");
	min-height: 10px;
}
input[type=text]
{
	border-radius:2px;
}
p.inp
{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
p.calculate
{
	position: absolute;
	left: 50%;
	top: 59%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
p.output
{
	position: absolute;
	left: 50%;
	top: 66%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}